<div class="row">
  <div class="col-md-12">
    <img [src]="recipeDetails.imagePath" alt="" class="img-fluid rounded" class="w-100">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="m-2">{{ recipeDetails.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu">
        <li><a class ="dropdown-item" href="#" (click)="ingredientsToShoppingList()">Add To Shopping List</a></li>
        <div class="dropdown-divider"></div>
        <li><a class ="dropdown-item" href="#">Edit Recipe</a></li>
        <div class="dropdown-divider"></div>
        <li><a class ="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 m-4">
    {{ recipeDetails.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeDetails.ingredients;">
        <span class="float-left">{{ ingredient.name }}</span><span class="float-right">{{ ingredient.amount }}</span>
      </li>
    </ul>
  </div>
</div>
